@charset "UTF-8";

 td, th {
  border: 2px solid #ddd;
  padding: 20px;
  
}
table, h1{
	margin-left: 5%;
	margin-top: 5%;
	
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0000FF;
  color: white;
}